#set($springXhtmlCompliant = true)
<html>
	<head>
		<title>#springMessage("openid") - #springMessage("login")</title>
		<style type="text/css">
			span code {
				display: block;
				text-indent: 2em;
				font-weight: bold;
			}
		</style>
	</head>
	<body>
		<fieldset>
			<legend>#springMessageText("approving.title" "OpenID Verification")</legend>
			<div>
				#springMessageText("approving.1" "A site identifying itself as ") 
				<span><code>$!command.authRequest.returnTo</code></span>
				#springMessageText("approving.2" " has asked us for confirmation that ")
				<span><code>$!command.authRequest.identity</code></span>
				#springMessageText("approving.3" " is your identity URL. ")
			</div>
			#if($personas)
			<div>
				#springMessageText("approving.additionalInformation.1" "The site also asked for additional information. ")
				#springMessageText("approving.additionalInformation.2" "It did not provide a link to the policy on data it collects. ")
				##springMessageText("approving.additionalInformation.3" "You can find the their policy about the data it collected on this page. ")
				#springMessageText("approving.additionalInformation.4" "This is the persona we're going to send to ") 
				<code>$!command.authRequest.realm</code>
				#springMessageText("approving.additionalInformation.5" ": ")
			</div>
			#end
			<form action="#josUrl("/approving")" method="post">
				#springBind("command.token")
				<input type="hidden" name="$!{status.expression}" value="$!{esc.html($!{status.value})}" />

				#if($personas)
				#springBind("command.personaId")
				<table class="list">
					<thead>
						<tr>
							<th>#springMessage("persona.title.name")</th>
							<th>#springMessage("persona.title.nickname")</th>
							<th>#springMessage("persona.title.email")</th>
							<th>#springMessage("persona.title.fullname")</th>
							<th>#springMessage("persona.title.dob")</th>
							<th>#springMessage("persona.title.gender")</th>
							<th>#springMessage("persona.title.postcode")</th>
							<th>#springMessage("persona.title.country")</th>
							<th>#springMessage("persona.title.language")</th>
							<th>#springMessage("persona.title.timezone")</th>
							<th>#springMessage("button.edit")</th>
						</tr>
					</thead>
					<tbody>
					#foreach($persona in $personas)
						<tr>
							<td style="text-align:left;"><input type="radio" id="$!{esc.html($!{persona.id})}" name="personaId" value="$!{esc.html($!{persona.id})}"
							#if($status && $status.value && $status.value == $persona.id)
								checked="checked"
							#end
							/><label for="$!{esc.html($!{persona.id})}">$!{esc.html($!{persona.name})}</label></td>
							<td>$!{esc.html($!{persona.nickname})}</td>
							<td>$!{esc.html($!{persona.email})}</td>
							<td>$!{esc.html($!{persona.fullname})}</td>
							<td>$!{esc.html($!{persona.dob})}</td>
							<td>$!{esc.html($!{persona.gender})}</td>
							<td>$!{esc.html($!{persona.postcode})}</td>
							<td>$!{esc.html($!{persona.country})}</td>
							<td>$!{esc.html($!{persona.language})}</td>
							<td>$!{esc.html($!{persona.timezone})}</td>
							<td><a href="persona?id=$!{esc.html($!{persona.id})}&token=$!{esc.html($!{token})}">#springMessage("edit")</a></td>
						</tr>
					#end
					</tbody>
					<tfoot>
						<tr>
							<td colspan="11"><a href="persona?token=$!{esc.html($!{token})}">#springMessage("persona.button.addNewPersona")</a></td>
						</tr>
					</tfoot>
				</table>
				#end

				#springShowErrors("" "error")

				#springBind("command.attributes")
				<table>
				#foreach($attribute in $status.value)
					<tr>
						<td class="label"><label for="attribute_$!{esc.html($!{attribute.name})}">#springMessage($!{esc.html($!{attribute.label})})</label>
						#if(${attribute.required})
							<span class="error">*</span>
						#end
					</td>
					<td><input type="text" id="attribute_$!{esc.html($!{attribute.name})}" name="$!{esc.html($!{attribute.name})}" value="$!{esc.html($!{attribute.value})}" /></td></tr>
				#end
				</table>
				<button type="submit" name="allow_forever">#springMessageText("button.allowForever" "Allow Forever")</button>
				<button type="submit" name="allow_once">#springMessageText("button.allowOnce" "Allow Once")</button>
				<button type="submit" name="deny">#springMessageText("button.deny" "Deny")</button>
			</form>
		</fieldset>
	</body>
</html>
