<html>
	<head>
		<title>附加属性</title>
	</head>
	<body>
		#parse("header.vm")
		<table>
		#foreach($attribute in $attributes)
			<tr>
				<td>
					$attribute.alias
				</td>
				<td>
					<a href="edit-attribute?id=$attribute.id">#springMessage("edit")</a>
					|
					<a href="remove-attribute?id=$attribute.id">#springMessage("remove")</a>
				</td>
			</tr>
		#end
		</table>
		<a href="edit-attribute">新增一个属性</a>
		#parse("footer.vm")
	</body>
</html>