#set($springXhtmlCompliant = true)
<html>
	<head>
		<title>#springMessage("openid") - #springMessage("register")</title>
	</head>
	<body>
	<div>
		#parse("header.vm")
		<fieldset>
			<legend>#springMessage("captcha.title")</legend>
			<form action="#josUrl("/captcha")" method="post">
				#parse("recaptcha.vm")
				#springBind("command.captcha")
				#springShowErrors("<br />" "error")
				<button type="submit">#springMessage("button.continue")</button>
			</form>
		</fieldset>
		#parse("footer.vm")
	</div>
</body>
</html>
