<html>
	<head>
		<title>#springMessage("openid") - #springMessage("email")</title>
	</head>
	<body>
	<div>
		#parse("header.vm")
		<fieldset>
		<legend>Confirming e-mail address</legend>
			<form action="email-confirm" method="post">
				<div>
					<label for="confirmationCode">Confirmation code: </label>
					#springFormInput("command.confirmationCode" 'class="common" style="width:50%"')
					<input type="submit" value="Confirm" class="button" />
					<div>#springShowErrors("" "error")</div>
				</div>
			</form>
		</fieldset>
		#parse("footer.vm")
	</div>
</body>
</html>
