<html>
	<head>
		<title>#springMessage("openid") - #springMessage("credentials")</title>
	</head>
	<body>
	<div>
		#parse("header.vm")
		<fieldset>
			<legend>#springMessage("credentials")</legend>
			<span class="warning">#springMessage("warning.credential")</span>
			<table class="list">
				<tr>
					<th>#springMessage("message.credential.credentialTypeName")</th>
					<th>#springMessage("message.credential.credentialSummary")</th>
					<th>#springMessage("message.credential.credentialTypeDescription")</th>
					<td>
						#springMessage("edit")
						|
						#springMessage("remove")
					</td>
				</tr>
				#foreach($credential in $credentials)
					<tr>
						<td>
							##$credential.handler.name
							#springMessage("credential.handler.name.${credential.handler.id}")
						</td>
						<td>
							$credential.description
						</td>
						<td>
							##$credential.handler.description
							#springMessage("credential.handler.description.${credential.handler.id}")
						</td>
						<td>
							<a href="edit.credential?id=$!{credential.id}">#springMessage("edit")</a>
							|
							<a href="delete.credential?id=$!{credential.id}">#springMessage("remove")</a>
						</td>
					</tr>
				#end
			</table>
		</fieldset>
		<a href="edit.credential">#springMessage("message.credential.createCredential")</a>
		#parse("footer.vm")
	</div>
</body>
</html>
