#set($springXhtmlCompliant = true)
<html>
	<head>
		<title>#spingMessage("openid")</title>
	</head>
	<body>
		#springMessage("message.credential.deleteSuccess")
		<a href="credentials">#springMessage("message.credential.backToCredentials")</a>
	</body>
</html>
