<html>
	<head>
		<title>#spingMessage("openid")</title>
	</head>
	<body>
	<div>
		#parse("header.vm")
		#springMessage("message.credential.deleteSuccess")
		<a href="credentials">#springMessage("message.credential.backToCredentials")</a>
		#parse("footer.vm")
	</div>
</body>
</html>
