#*
 * Copyright (c) 2006-2009, Redv.com
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions
 * are met:
 *     * Redistributions of source code must retain the above copyright
 *       notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * Neither the name of the Redv.com nor the
 *       names of its contributors may be used to endorse or promote products
 *       derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 * "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 * LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
 * FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE
 * COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
 * INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
 * BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
 * LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN
 * ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 * POSSIBILITY OF SUCH DAMAGE.
 *#
#set($springXhtmlCompliant = true)
<fieldset>
#springBind("userSession.user")
<legend>#springMessageText("user.message.usingYourOwnOpenIDURL" "Using Your Own OpenID URL")</legend>
<p>
	#springMessage("message.yourOpenid")
</p>
<pre>
<a href="$!{status.value.identifier}">$!{status.value.identifier}</a>
</pre>

#if(!$request.getParameter("advanced"))
	<div style="text-align: right;">
		<a href="#josUrl("/home?advanced=true")">#springMessage("button.advanced")</a>
	</div>
#else
<p>
#josMessageEscaped("message.yourOpenid.1" false)
<pre>
&lt;link rel="openid2.provider openid.server" href="${userSession.user.domain.runtime.openidServerUrl}" /&gt;
&lt;link rel="openid2.local_id openid.delegate" href="$!{userSession.user.identifier}" /&gt;
</pre>
#josMessageEscaped("message.yourOpenid.2" false)
</p>
#end
</fieldset>

<fieldset>
	<legend>#springMessageText("title.latestSites" "Latest Sites I Logged on")</legend>
	<ul>
		#foreach($site in $latestSites)
		<li><a href="$site.realm.url">$site.realm.url</a></li>
		#end
	</ul>
</fieldset>

<fieldset>
	<legend>#springMessageText("title.topSites" "Top Sites I Logged on")</legend>
	<ul>
		#foreach($site in $topSites)
		<li><a href="$site.realm.url">$site.realm.url</a></li>
		#end
	</ul>
</fieldset>

<fieldset>
	<legend title="#springMessageText("title.latestRealms.tip" "The newest additions")">#springMessageText("title.latestRealms" "Latest Sites")</legend>
	<ul>
		#foreach($realm in $latestRealms)
		<li><a href="$realm.url">$realm.url</a></li>
		#end
	</ul>
</fieldset>