#set($springXhtmlCompliant = true)
#springBind("userSession.user")
<h3>Using Your Own OpenID URL</h3>
<p>
	#springMessage("message.yourOpenid")
</p>
<pre>
<a href="$!{status.value.identifier}">$!{status.value.identifier}</a>
</pre>

#if(!$request.getParameter("advanced"))
	<div style="text-align: right;">
		<a href="#josUrl("/home?advanced=true")">#springMessage("button.advanced")</a>
	</div>
#else
<p>
#josMessageEscaped("message.yourOpenid.1" false)
<pre>
&lt;link rel="openid2.provider openid.server" href="${userSession.user.domain.runtime.openidServerUrl}" /&gt;
&lt;link rel="openid2.local_id openid.delegate" href="$!{userSession.user.identifier}" /&gt;
</pre>
#josMessageEscaped("message.yourOpenid.2" false)
</p>
#end