<html>
	<head>
		<title>#springMessage("openid")</title>
	</head>
	<body>
	<div>
		#parse("header.vm")
		<fieldset>
		<legend>#springMessage("password.tip")</legend>
		<form action="password" method="post">
			#springFormHiddenInput("command.password.id" "")
			<table>
				<tr>
					<td class="label">
						<label for="password">#springMessage("password.label.name") </label>
					</td>
					<td>
						#springFormInput("command.password.name" "")
						#springShowErrors("" "error")
					</td>
				</tr>
				<tr>
					<td class="label">
						<label for="password">#springMessage("password.label.password") </label>
					</td>
					<td>
						#springFormPasswordInput("command.password.plaintext" "")
						#springShowErrors("" "error")
					</td>
				</tr>
				<tr>
					<td class="label">
						<label for="retypedPassword">#springMessage("password.label.confirmingPassword")</label>
					</td>
					<td>
						#springFormPasswordInput("command.retypedPassword" "")
						#springShowErrors("" "error")
					</td>
				</tr>
				<tr>
					<td class="label">
						&nbsp;
					</td>
					<td>
						<input type="submit" name="edit" value="#springMessage("create")/#springMessage("modify")" class="button" />
					</td>
				</tr>
			</table>
		</form>
		</fieldset>
		#parse("footer.vm")
	</div>
</body>
</html>
