#set($springXhtmlCompliant = true)
<html>
	<head>
		<title>附加属性</title>
	</head>
	<body>
		#parse("header.vm")
		<form action="#josUrl("/edit-attribute")" method="post">
			#springBind("attribute.id")
			<input type="hidden" name="${status.expression}" value="$!{status.value}" />
			#springBind("attribute.alias")
			<ul>
				<li>Alias:<input type="text" name="${status.expression}" value="$!{status.value}" /></li>
			</ul>
			<input type="submit" value="Save" />
		</form>
		#parse("footer.vm")
	</body>
</html>