<html>
	<head>
		<title>#springMessage("openid")</title>
	</head>
	<body>
	<div>
		#parse("header.vm")
		<div>
			#springMessage("password.message.createdUpdatedSuccess")
			<a href="passwords">#springMessage("password.message.backToPasswords")</a>
		</div>
		#parse("footer.vm")
	</div>
</body>
</html>
