#set($springXhtmlCompliant = true)
<html>
	<head>
		<title>#springMessage("openid") - #springMessage("email.title")</title>
	</head>
	<body>
	<div>
		#parse("header.vm")
		<div>#springMessage("email.message.removed")</div>
		<a href="email">#springMessage("email.button.backToEmail")</a>
		#parse("footer.vm")
	</div>
</body>
</html>
