#*
 * Copyright (c) 2006-2009, Redv.com
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions
 * are met:
 *     * Redistributions of source code must retain the above copyright
 *       notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * Neither the name of the Redv.com nor the
 *       names of its contributors may be used to endorse or promote products
 *       derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 * "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 * LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
 * FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE
 * COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
 * INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
 * BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
 * LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN
 * ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 * POSSIBILITY OF SUCH DAMAGE.
 *#
#set($springXhtmlCompliant = true)
<html>
	<head>
		<title>#springMessage("openid") - #springMessage("email.title")</title>
	</head>
	<body>
		<fieldset><legend>#springMessage("email.title")</legend>
		#if ($unconfirmedEmails.size() > 0)
		<p>#springMessage("email.message.unconfirmed.header")</p>
		<ul>
			#foreach($email in $unconfirmedEmails)
			<li>${email.address} (<a href="email-remove?id=${email.id}">#springMessage("remove")</a>)</li>
			#end
		</ul>
		<p>#springMessage("email.message.unconfirmed.description")</p>
		#end

		#if ($confirmedEmails.size() > 0)
		<p>#springMessage("email.message.confirmed.header")</p>
		<ul>
			#foreach($email in $confirmedEmails)
			<li>
				$email.address #if($email.primary)*#end (<a href="email-remove?id=${email.id}">#springMessage("remove")</a>)
				#if(!$email.primary)(<a href="email-set-primary?id=${email.id}">#springMessage("email.button.makePrimary")</a>)#end
			</li>
			#end
		</ul>
		<p>#springMessage("email.message.primary.description")</p>
		#end
		<p>#springMessage("email.message.addNew.description")</p>
		<form action="#josUrl("/email")" method="post">
			<label for="address">#springMessage("email.label.address")</label>
			#springFormInput("email.address" "")
			#springShowErrors("" "error")
			<button type="submit">#springMessage("email.button.sendInstructions")</button>
		</form>
		</fieldset>
	</body>
</html>
