#set($springXhtmlCompliant = true)
<html>
	<head>
		<title>#springMessage("openid") - #springMessage("email.title.confirming")</title>
	</head>
	<body>
	<div>
		#parse("header.vm")
		<fieldset>
		<legend>#springMessage("email.title.confirming")</legend>
			<form action="email-confirm" method="post">
				<div>
					<label for="confirmationCode">#springMessage("email.label.confirmationCode")</label>
					#springFormInput("command.confirmationCode" 'class="common" style="width:50%"')
					<button type="submit">#springMessage("email.button.confirm")</button>
					<div>#springShowErrors("" "error")</div>
				</div>
			</form>
		</fieldset>
		#parse("footer.vm")
	</div>
</body>
</html>
