<html>
	<head>
		<title>#springMessage("openid") - #springMessage("profile")</title>
	</head>
	<body>
	<div>
		#parse("header.vm")
		#springMessage("message.email.modifySuccess")
		<a href="email">#springMessage("message.email.backToEmail")</a>
		#parse("footer.vm")
	</div>
</body>
</html>
