#set($springXhtmlCompliant = true)
<div id="footer">
	## Copyright
	#if($domain.configuration.get("inceptionYear") && $domain.getIntAttribute("inceptionYear") != $date.year)
		#set($copyrightYears = "$domain.getIntAttribute('inceptionYear')-$date.year")
	#else
		#set($copyrightYears = $date.year)
	#end

	#set($copyright = "#springMessage('message.copyright') &copy; $!copyrightYears")


	#* Organization *#

	## Organization url
	#if($domain && $domain.configuration.get("organization.url"))
		#set($organizationUrl = $domain.configuration.get("organization.url"))
	#end
	#if($organizationUrl && $organizationUrl.startsWith("/"))
		#set($organizationUrl = "#josUrl($organizationUrl)")
	#end

	## Organization name
	#if($domain && $domain.configuration.get("organization.name"))
		#set($organizationName = $domain.configuration.get("organization.name"))
	#end
	#if(!$organizationName && $organizationUrl)
		#set($organizationName = $organizationUrl)
	#end

	## Print the footer
	#if($organizationUrl)
		$copyright, <a href="$organizationUrl">$organizationName</a>
	#elseif($organizationName)
		$copyright, $organizationName
	#else
		$copyright
	#end


	## Privacy
	#if($domain && $domain.configuration.get("privacy.url"))
		#set($privacyUrl = $domain.configuration.get("privacy.url"))
	#end
	#if($privacyUrl && $privacyUrl.startsWith("/"))
		#set($privacyUrl = "#josUrl($privacyUrl)")
	#end
	#if($privacyUrl)
		- <a href="$privacyUrl">#springMessage("title.privacy")</a>
	#end

	## http://www.miibeian.gov.cn/
	#if($domain && $domain.configuration.get("beian.number.${springMacroRequestContext.locale}"))
		#set($beianNumber = $domain.configuration.get("beian.number.${springMacroRequestContext.locale}"))
	#end
	#if($beianNumber)
		- <a href="$domain.configuration.get("beian.url.${springMacroRequestContext.locale}")">$beianNumber</a>
	#end
</div>
