#set($springXhtmlCompliant = true)
<html>
	<head>
		<title>#springMessage("openid") - #springMessage("password.title.forgot")</title>
	</head>
	<body>
		<fieldset>
			<legend>#springMessage("password.title.forgot")</legend>
			<div>#springMessage("password.message.sendOneTimePassword.success")$command.address</div>
		</fieldset>
	</body>
</html>
