#set($springXhtmlCompliant = true)
<html>
	<head>
		<title>#springMessage("openid") - #springMessage("password.title.forgot")</title>
	</head>
	<body>
		<fieldset>
			<legend>#springMessage("password.title.forgot")</legend>
			<form method="post">
				<table>
					#springBind("command.user.username")
					<tr>
						<td class="label">
							<label for="user.username">#springMessage("label.openid")</label>
						</td>
						<td>
							<span class="identifier">
							${domain.identifierPrefix}
							#springFormInput("command.user.username" "")
							${domain.identifierSuffix}
							</span>
							#springShowErrors("" "error")
						</td>
					</tr>
					#springBind("command.address")
					<tr>
						<td class="label">
							<label for="address">#springMessage("email.label.address")</label>
						</td>
						<td>
							#springFormInput("command.address" "")
							#springShowErrors("" "error")
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>
							<button type="submit">#springMessage("password.button.sendSingleUsePassword")</button>
						</td>
					</tr>
				</table>
			</form>
		</fieldset>
	</body>
</html>
