<div id="header">
	<div id="logo"><img src="openid-logo.png" alt="OpenID" /></div>
	<div id="navbar">
		<ul>
			#if(!${userSession.loggedIn})
			<li><a href="#springUrl('/')" title="#springMessage("home.tip")">#springMessage("home")</a></li>
			<li><a href="login" title="#springMessage("login")">#springMessage("login")</a></li>
			<li><a href="register" title="#springMessage("register.tip")">#springMessage("register")</a></li>
			#else
			<li><a href="#springUrl('/')" title="#springMessage("home.tip")">#springMessage("home")</a></li>
			<li><a href="email" title="#springMessage("email.title.tip")">#springMessage("email.title")</a></li>
			<li><a href="passwords" title="#springMessage("password.title.password")">#springMessage("password.title.passwords")</a></li>
			<li><a href="personas" title="#springMessage("persona.title.persona")">#springMessage("persona.title.personas")</a></li>
			<li><a href="attribute-value" title="Attribute">附加属性</a></li>
			<li><a href="sites" title="#springMessage("site.title.tip")">#springMessage("site.title.sites")</a></li>
			<li><a href="logout" title="#springMessage("logout.tip")">#springMessage("logout")</a></li>
			#end
			<li><a href="http://openid.net.cn" title="#springMessage("about.tip")">#springMessage("about")</a></li>
		</ul>
	</div>
	<div id="hl">
		<ul>#foreach($l in $userAgentLocales)<li><a href="?hl=$l#if($!request.getParameter('self'))&amp;self=$!request.getParameter('self')#end">$l.getDisplayName($l)</a></li>#end<li class="last-child"><a href="hl#if($!request.getParameter('self'))?self=$!request.getParameter('self')#end">»</a></li></ul>
	</div>
</div>
<div id="welcome">
	 #springMessage("welcome")
	 #if(${userSession.loggedIn})
	 <a href="$!{userSession.user.identifier}">$!{userSession.user.identifier}</a>
	 #end
</div>
<div id="description">
	#springMessage("description")
</div>
#if($userSession && $userSession.approvingRequests.size() > 0)
<div id="approving-tip">
	#if($userSession.approvingRequests.size() == 1)
		#springMessageText("approving.request" "Your approving authentiation request: ")
		#foreach($approvingRequest in $userSession.approvingRequests)<a href="approving?token=$approvingRequest.token">$approvingRequest.authRequest.returnTo</a>#end.
	#else
	#springMessageText("approving.requests" "Your approving authentication requests: ")
	<ul>
		#foreach($approvingRequest in $userSession.approvingRequests)
		<li#if($token && $approvingRequest.token == $token) class="current"#end><a href="approving?token=$approvingRequest.token">$approvingRequest.authRequest.returnTo</a></li>
		#end
	</ul>
	#end
</div>
#end