#set($springXhtmlCompliant = true)
<html>
	<head>
		<title>#springMessage("openid")</title>
	</head>
	<body>
		<div>
			#parse("header.vm")
			#if(!${userSession.loggedIn})
			<form action="home" method="post">
				<div>
					<label for="username">OpenID: </label>
					<span class="identifier">
					${domain.identifierPrefix}
					<input type="text" id="username" name="username" accesskey="U" />
					${domain.identifierSuffix}
					</span>
					<button type="submit" name="login" accesskey="L">#springMessage("button.login")</button>
					##<input type="submit" name="index.login" value="#springMessage("login.other")" accesskey="A" />
					<button type="submit" name="register" accessky="R">#springMessage("button.register")</button>
				</div>
			</form>
			<script type="text/javascript">
				<!--
				document.getElementById("username").focus();
				//-->
			</script>
			#else
				#parse("detail.vm")
			#end
			#parse("footer.vm")
		</div>
	</body>
</html>
