#set($springXhtmlCompliant = true)
<html>
	<head>
		<title>#springMessage("openid")</title>
	</head>
	<body>
		<div>
			#parse("header.vm")
			#set ($self = "$!request.getParameter('self')")
			#if ("$!self" == "each")
				<a href="?self=current">#springMessage("message.humanLanguageSelection.current")</a>
				#springMessage("message.humanLanguageSelection.each")
			#else
				#springMessage("message.humanLanguageSelection.current")
				<a href="?self=each">#springMessage("message.humanLanguageSelection.each")</a>
			#end

			<ul class="hl">
				#foreach ($l in $locales)
					<li>
						<a href="?hl=$l#if($self != "")&amp;self=$self#end">
							#if("$!self" == "each")
								$l.getDisplayName($l)
							#else
								$l.getDisplayName($locale)
							#end
						</a>
					</li>
				#end
			</ul>
			#parse("footer.vm")
		</div>
	</body>
</html>
