#*
 * Copyright (c) 2006-2009, Redv.com
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions
 * are met:
 *     * Redistributions of source code must retain the above copyright
 *       notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * Neither the name of the Redv.com nor the
 *       names of its contributors may be used to endorse or promote products
 *       derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 * "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 * LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
 * FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE
 * COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
 * INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
 * BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
 * LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN
 * ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 * POSSIBILITY OF SUCH DAMAGE.
 *#
#set($springXhtmlCompliant = true)
<html>
	<head>
		<title>#springMessage("openid") - #springMessage("login")</title>
	</head>
	<body>
		<fieldset>
			<legend>#springMessage("login.other")</legend>
			<form action="#josUrl("/index.login")" method="post">
				<table>
					#springBind("command.username")
					<tr>
						<td class="label">
							<label for="username">OpenID：</label>
						</td>
						<td>
							${openidConfiguration.openidUrlPrefix}
							<input type="text" id="username" name="$!{status.expression}" class="sexy" size="10" value="$!{esc.html($!{status.value})}" />
							${openidConfiguration.openidUrlSuffix}
							<span class="error">$!{status.errorMessage}</span>
						</td>
					</tr>
					#springBind("command.credentialHandler.id")
					<tr>
						<td class="label">
							#springMessage("label.credential.type")
						</td>
						<td>
							<dl>
								#foreach($credentialHandler in $command.credentialHandlers)
								<dt>
									<input type="radio" id="${credentialHandler.id}" name="${status.expression}" value="${credentialHandler.id}" />
									<label for="${credentialHandler.id}">
										##${credentialHandler.name}
										#springMessage("credential.handler.name.${credentialHandler.id}")
									</label>
								</dt>
								<dd>
									##${credentialHandler.description}
									#springMessage("credential.handler.description.${credentialHandler.id}")
								</dd>
								#end
							</dl>
							<span class="error">$!{status.errorMessage}</span>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td><input type="submit" value="#springMessage("login")" class="button" /></td>
					</tr>
				</table>
			</form>
		</fieldset>
	</body>
</html>
