#set($springXhtmlCompliant = true)
<html>
	<head>
		<title>#springMessage("openid") - #springMessage("password.title.passwords")</title>
	</head>
	<body>
	<div>
		#parse("header.vm")
		<fieldset>
			<legend>#springMessage("password.title.passwords")</legend>
			<form method="post">
			<table class="list">
				<thead>
					<tr>
						<th>#springMessage("password.title.delete")</th>
						<th>#springMessage("password.title.name")</th>
						<th>#springMessage("password.title.plaintext")</th>
					</tr>
				</thead>
				<tbody>
				#foreach($password in $passwords)
					<tr>
						<td><input type="checkbox" name="deletePasswordId" value="$!{esc.html($!{password.id})}" /></td>
						<td><a href="#josUrl("/password?password.id=$!{esc.html($!{password.id})}")">$!{esc.html($!{password.name})}</a></td>
						<td><a href="#josUrl("/password?password.id=$!{esc.html($!{password.id})}")">********</a></td>
					</tr>
				#end
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3">
							<button type="submit">#springMessage("button.remove")</button>
							<a href="#josUrl("/password")">#springMessage("password.message.addNewPassword")</a>
						</td>
					</tr>
				</tfoot>
			</table>
			<div>
				#springMessage("password.message.lastPassword")
			</div>
			</form>
		</fieldset>
		#parse("footer.vm")
	</div>
</body>
</html>
