#set($springXhtmlCompliant = true)
<html>
	<head>
		<title>#springMessage("openid") - #springMessage("password.title.password")</title>
	</head>
	<body>
	<div>
		#parse("header.vm")
		<fieldset>
		<legend>#springMessage("password.title.password")</legend>
		<form action="#josUrl("/password")" method="post">
			#springFormHiddenInput("command.password.id" "")
			<table>
				<tr>
					<td class="label">
						<label for="password">#springMessage("password.label.name") </label>
					</td>
					<td>
						#springFormInput("command.password.name" "")
						#springShowErrors("" "error")
					</td>
				</tr>
				<tr>
					<td class="label">
						<label for="password">#springMessage("password.label.plaintext") </label>
					</td>
					<td>
						#springFormPasswordInput("command.password.plaintext" "")
						#springShowErrors("" "error")
					</td>
				</tr>
				<tr>
					<td class="label">
						<label for="retypedPassword">#springMessage("password.label.confirmingPassword")</label>
					</td>
					<td>
						#springFormPasswordInput("command.retypedPassword" "")
						#springShowErrors("" "error")
					</td>
				</tr>
				<tr>
					<td class="label">
						&nbsp;
					</td>
					<td>
						#if(${command.password.id} && ${command.password.id} != "")
							<button type="submit" name="edit">#springMessage("button.modify")</button>
						#else
							<button type="submit" name="edit">#springMessage("button.add")</button>
						#end
					</td>
				</tr>
			</table>
		</form>
		</fieldset>
		#parse("footer.vm")
	</div>
</body>
</html>
