<html>
	<head>
		<title>#springMessage("openid") - #springMessage("passwords")</title>
	</head>
	<body>
	<div>
		#parse("header.vm")
		<fieldset>
			<legend>#springMessage("passwords")</legend>
			<table class="list">
				<thead>
					<tr>
						<th>Password</th>
					</tr>
				</thead>
				<tbody>
				#foreach($password in $passwords)
					<tr>
						<td><a href="password?id=$!{esc.html($!{password.id})}">********</a></td>
					</tr>
				#end
				</tbody>
				<tfoot>
					<tr>
						<td colspan="10"><a href="password">Add New Password</a></td>
					</tr>
				</tfoot>
			</table>
		</fieldset>
		#parse("footer.vm")
	</div>
</body>
</html>
