#set($springXhtmlCompliant = true)
<html>
	<head>
		<title>#springMessage("openid") - #springMessage("password.title.password")</title>
	</head>
	<body>
		<div>
			#springMessage("password.message.createdUpdatedSuccess")
			<a href="#josUrl("/passwords")">#springMessage("password.message.backToPasswords")</a>
		</div>
	</body>
</html>
