#set($springXhtmlCompliant = true)
<html>
	<head>
		<title>
			#springMessage("openid") - #springMessage("persona.title.personas")
		</title>
	</head>
	<body>
	<div>
		#parse("header.vm")
		<fieldset>
			<legend>#springMessage("persona.title.personas")</legend>
			<form method="post">
			<table class="list">
				<thead>
					<tr>
						<th>#springMessage("persona.title.delete")</th>
						<th>#springMessage("persona.title.name")</th>
						<th>#springMessage("persona.title.nickname")</th>
						<th>#springMessage("persona.title.email")</th>
						<th>#springMessage("persona.title.fullname")</th>
						<th>#springMessage("persona.title.dob")</th>
						<th>#springMessage("persona.title.gender")</th>
						<th>#springMessage("persona.title.postcode")</th>
						<th>#springMessage("persona.title.country")</th>
						<th>#springMessage("persona.title.language")</th>
						<th>#springMessage("persona.title.timezone")</th>
					</tr>
				</thead>
				<tbody>
				#foreach($persona in $personas)
					<tr>
						<td>
							<input type="checkbox" name="deletePersonaId" value="$!{esc.html($!{persona.id})}" />
						</td>
						<td>
							<a href="persona?id=$!{esc.html($!{persona.id})}">
								$!{esc.html($!{persona.name})}
							</a>
						</td>
						<td>$!{esc.html($!{persona.nickname})}</td>
						<td>$!{esc.html($!{persona.email})}</td>
						<td>$!{esc.html($!{persona.fullname})}</td>
						<td>$!{esc.html($!{persona.dob})}</td>
						<td>$!{esc.html($!{persona.gender})}</td>
						<td>$!{esc.html($!{persona.postcode})}</td>
						<td>$!{esc.html($!{persona.country})}</td>
						<td>$!{esc.html($!{persona.language})}</td>
						<td>$!{esc.html($!{persona.timezone})}</td>
					</tr>
				#end
				</tbody>
				<tfoot>
					<tr>
						<td colspan="11">
							<button type="submit">#springMessage("button.remove")</button>
							<a href="persona">#springMessage("persona.button.addNewPersona")</a>
						</td>
					</tr>
				</tfoot>
			</table>
			</form>
		</fieldset>
		#parse("footer.vm")
	</div>
</body>
</html>
