<html>
	<head>
		<title>#springMessage("openid") - #springMessage("persona")</title>
	</head>
	<body>
	<div>
		#parse("header.vm")
		#springMessage("message.persona.modifySuccess")
		#if($token)
			<a href="approving?token=$!token">#springMessage("message.persona.backToApproving")</a>
		#else
			<a href="personas?token=$!token">#springMessage("message.persona.backToPersonas")</a>
		#end
		#parse("footer.vm")
	</div>
</body>
</html>
