#set($springXhtmlCompliant = true)
<html>
	<head>
		<title>#springMessage("openid") - #springMessage("persona.title.persona")</title>
	</head>
	<body>
	<div>
		#parse("header.vm")
		#springMessage("persona.message.modifySuccess")
		#if($token && $token != "")
			<a href="approving?token=$!token">#springMessage("persona.message.backToApproving")</a>
		#else
			<a href="personas?token=$!token">#springMessage("persona.message.backToPersonas")</a>
		#end
		#parse("footer.vm")
	</div>
</body>
</html>
