#*
 * Copyright (c) 2006-2009, Redv.com
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions
 * are met:
 *     * Redistributions of source code must retain the above copyright
 *       notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * Neither the name of the Redv.com nor the
 *       names of its contributors may be used to endorse or promote products
 *       derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 * "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 * LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
 * FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE
 * COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
 * INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
 * BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
 * LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN
 * ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 * POSSIBILITY OF SUCH DAMAGE.
 *#
#set($springXhtmlCompliant = true)
<html>
	<head>
		<title>#springMessage("openid") - #springMessage("persona.title.persona")</title>
		<link rel="stylesheet" type="text/css" media="all" href="#springUrl('/resources/jscalendar/skins/aqua/theme.css')" title="Aqua" />
		<script type="text/javascript" src="#springUrl('/resources/jscalendar/calendar_stripped.js')"></script>
		<script type="text/javascript" src="#springUrl('/resources/jscalendar/calendar-setup_stripped.js')"></script>
		<script type="text/javascript" src="#springUrl('/resources/jscalendar/lang/calendar-en.js')"></script>
		<script type="text/javascript" src="#springUrl('/resources/scripts/jquery-1.2.6.min.js')"></script>
		<script type="text/javascript" src="#springUrl('/resources/scripts/persona.js')"></script>
	</head>
	<body>
		<fieldset>
		<legend>#springMessage("persona.title.persona")</legend>
			<form action="#josUrl("/persona#if($token && $token != '')?token=$!token#end")" method="post">
				#springBindEscaped("persona.id" false)
				<input type="hidden" name="$!{status.expression}" value="$!{status.value}" />
				<table>
					<tr>
						<td class="label">
							<label for="name">#springMessage("persona.label.name")</label>
						</td>
						<td>
							#springFormInput("persona.name" "")
							#springShowErrors("" "error")
						</td>
					</tr>
					<tr>
						<td class="label">
							<label for="nickname">#springMessage("persona.label.nickname")</label>
						</td>
						<td>
							#springFormInput("persona.nickname" "")
							#springShowErrors("" "error")
						</td>
					</tr>
					<tr>
						<td class="label">
							<label for="email">#springMessage("persona.label.email")</lable>
						</td>
						<td>
							#springFormInput("persona.email" "")
							#springShowErrors("" "error")
						</td>
					</tr>
					<tr>
						<td class="label">
							<label for="fullname">#springMessage("persona.label.fullname")</label>
						</td>
						<td>
							#springFormInput("persona.fullname" "")
							#springShowErrors("" "error")
						</td>
					</tr>
					<tr>
						<td class="label">
							<label for="dob">#springMessage("persona.label.dob")</label>
						</td>
						<td>
							#springFormInput("persona.dob" "")
							<img src="#josUrl("/resources/jscalendar/img.gif")" id="f_trigger_c" style="border: 1px solid red; cursor: pointer;" title="Date selector" onmouseover="this.style.background='red';" onmouseout="this.style.background=''" />
<script type="text/javascript">
    Calendar.setup({
        inputField     :    "dob",     // id of the input field
        //ifFormat       :    "%B %e, %Y",      // format of the input field
        ifFormat       :    "%Y-%m-%d",
        button         :    "f_trigger_c",  // trigger for the calendar (button ID)
        align          :    "Tl",           // alignment (defaults to "Bl")
        singleClick    :    true
    });
</script>
							#springShowErrors("" "error")
						</td>
					</tr>
					#springBindEscaped("persona.gender" false)
					<tr>
						<td class="label">
							<label for="gender">#springMessage("persona.label.gender")</label>
						</td>
						<td>
							<input type="radio" id="gender_U" name="$!{status.expression}" value="U" #if("$!status.value" == "U")checked="checked"#end /><label for="gender_U">#springMessage("gender.unknown")</label>
							<input type="radio" id="gender_M" name="$!{status.expression}" value="M" #if("$!status.value" == "M")checked="checked"#end /><label for="gender_M">#springMessage("gender.male")</label>
							<input type="radio" id="gender_F" name="$!{status.expression}" value="F" #if("$!status.value" == "F")checked="checked"#end /><label for="gender_F">#springMessage("gender.female")</label>
							#springShowErrors("" "error")
						</td>
					</tr>
					<tr>
						<td class="label">
							<label for="postcode">#springMessage("persona.label.postcode")</label>
						</td>
						<td>
							#springFormInput("persona.postcode" "")
							#springShowErrors("" "error")
						</td>
					</tr>
					<tr>
						<td class="label">
							<label for="country">#springMessage("persona.label.country")</label>
						</td>
						<td>
							#josFormSingleSelect("persona.country" $relatedCountries $countries "id='country'")
							#springShowErrors("" "error")
						</td>
					</tr>
					<tr>
						<td class="label">
							<label for="language">#springMessage("persona.label.language")</label>
						</td>
						<td>
							#josFormSingleSelect("persona.language" $relatedLanguages $languages "id='language'")
							#springShowErrors("" "error")
						</td>
					</tr>
					<tr>
						<td class="label">
							<label for="timezone">#springMessage("persona.label.timezone")</label>
						<td>
							#josFormSingleSelect("persona.timezone" $relatedTimeZones $timeZones "id='timezone'")
							#springShowErrors("" "error")
						</td>
					</tr>
				</table>
				#springBindEscaped("persona.attributes" false)
				#foreach($attribute in $status.value)
					<div class="attribute">
						<table>
							#set($key = $velocityCount)
							<tr>
								<td class="label">
									<input type="hidden" name="attribute.id.$key" value="$!attribute.id" />
									<input type="text" name="attribute.alias.$key" value="$!attribute.alias" class="alias" />
									<input type="text" name="attribute.type.$key" value="$!attribute.type" class="type" />
								</td>
								<td class="value">
									<ul>
										#foreach($value in $attribute.values)
											<li>
												<input type="text" name="attribute.value.$key" value="$!value" class="value" />
												<a href="#" onclick="personaAddAttributeValue(this);return false;">
													<img src="#springUrl('/resources/images/plus.gif')" class="value" />
												</a>
												<a href="#" onclick="personaRemoveAttributeValue(this);return false;">
													<img src="#springUrl('/resources/images/minus.gif')" class="value" />
												</a>
											</li>
										#end
										<li>
											<input type="text" name="attribute.value.$key" class="value" />
											<a href="#" onclick="personaAddAttributeValue(this);return false;">
												<img src="#springUrl('/resources/images/plus.gif')" class="value" />
											</a>
											<a href="#" onclick="personaRemoveAttributeValue(this);return false;">
												<img src="#springUrl('/resources/images/minus.gif')" class="value" />
											</a>
										</li>
									</ul>
								</td>
								<td class="handler">
									<a href="#" onclick="personaAddAttribute(this);return false;">
										<img src="#springUrl('/resources/images/plus.gif')" class="attribute" />
									</a>
									<a href="#" onclick="personaRemoveAttribute(this);return false;">
										<img src="#springUrl('/resources/images/minus.gif')" class="attribute" />
									</a>
								</td>
							</tr>
						</table>
					</div>
				#end
				<div class="attribute">
					<table>
						<tr>
							<td class="label">
								<input type="hidden" name="attribute.id.0" value="" />
								<input type="text" name="attribute.alias.0" class="alias" />
								<input type="text" name="attribute.type.0" class="type" />
							</td>
							<td class="value">
								<ul>
									<li>
										<input type="text" name="attribute.value.0" class="value" />
										<a href="#" onclick="personaAddAttributeValue(this);return false;">
											<img src="#springUrl('/resources/images/plus.gif')" class="value" />
										</a>
										<a href="#" onclick="personaRemoveAttributeValue(this);return false;">
											<img src="#springUrl('/resources/images/minus.gif')" class="value" />
										</a>
									</li>
								</ul>
							</td>
							<td class="handler">
								<a href="#" onclick="personaAddAttribute(this);return false;">
									<img src="#springUrl('/resources/images/plus.gif')" class="attribute" />
								</a>
								<a href="#" onclick="personaRemoveAttribute(this);return false;">
									<img src="#springUrl('/resources/images/minus.gif')" class="attribute" />
								</a>
							</td>
						</tr>
					</table>
				</div>
				<table>
					<tr>
						<td class="label">&nbsp;</td>
						<td>
							#if(${persona.id} && ${persona.id} != "")
								<button type="submit">#springMessage("button.modify")</button>
							#else
								<button type="submit">#springMessage("button.add")</button>
							#end
						</td>
					</tr>
				</table>
			</form>
		</fieldset>
	</body>
</html>
