<html>
	<head>
		<title>#springMessage("openid") - #springMessage("profile")</title>
		<link rel="stylesheet" type="text/css" media="all" href="#springUrl('/jscalendar/skins/aqua/theme.css')" title="Aqua" />
		<script type="text/javascript" src="#springUrl('/jscalendar/calendar_stripped.js')"></script>
		<script type="text/javascript" src="#springUrl('/jscalendar/calendar-setup_stripped.js')"></script>
		<script type="text/javascript" src="#springUrl('/jscalendar/lang/calendar-en.js')"></script>
	</head>
	<body>
	<div>
		#parse("header.vm")
		<fieldset>
		<legend>#springMessage("profile")</legend>
			<form action="profile" method="post">
				<table>
					<tr>
						<td class="label">
							<label for="nickname">#springMessage("label.nickname")</label>
						</td>
						<td>
							#springFormInput("profile.nickname" "")
							#springShowErrors("" "error")
						</td>
					</tr>
					<tr>
						<td class="label">
							<label for="email">#springMessage("label.email")</lable>
						</td>
						<td>
							#springFormInput("profile.email" "")
							#springShowErrors("" "error")
						</td>
					</tr>
					<tr>
						<td class="label">
							<label for="fullname">#springMessage("label.fullname")</label>
						</td>
						<td>
							#springFormInput("profile.fullname" "")
							#springShowErrors("" "error")
						</td>
					</tr>
					<tr>
						<td class="label">
							<label for="dob">#springMessage("label.dob")</label>
						</td>
						<td>
							#springFormInput("profile.dob" "")
							<img src="jscalendar/img.gif" id="f_trigger_c" style="border: 1px solid red; cursor: pointer;" title="Date selector" onmouseover="this.style.background='red';" onmouseout="this.style.background=''" />
<script type="text/javascript">
    Calendar.setup({
        inputField     :    "dob",     // id of the input field
        //ifFormat       :    "%B %e, %Y",      // format of the input field
        ifFormat       :    "%Y-%m-%d",
        button         :    "f_trigger_c",  // trigger for the calendar (button ID)
        align          :    "Tl",           // alignment (defaults to "Bl")
        singleClick    :    true
    });
</script>
							#springShowErrors("" "error")
						</td>
					</tr>
					#springBindEscaped("profile.gender" false)
					<tr>
						<td class="label">
							<label for="gender">#springMessage("label.gender")</label>
						</td>
						<td>
							<input type="radio" id="gender_U" name="$!{status.expression}" value="U" #if("$!status.value" == "U")checked="checked"#end /><label for="gender_U">#springMessage("gender.unknown")</label>
							<input type="radio" id="gender_M" name="$!{status.expression}" value="M" #if("$!status.value" == "M")checked="checked"#end /><label for="gender_M">#springMessage("gender.male")</label>
							<input type="radio" id="gender_F" name="$!{status.expression}" value="F" #if("$!status.value" == "F")checked="checked"#end /><label for="gender_F">#springMessage("gender.female")</label>
							<input type="radio" id="gender_A" name="$!{status.expression}" value="A" #if("$!status.value" == "A")checked="checked"#end /><label for="gender_A">#springMessage("gender.artificialMale")</label>
							<input type="radio" id="gender_E" name="$!{status.expression}" value="E" #if("$!status.value" == "E")checked="checked"#end /><label for="gender_E">#springMessage("gender.artificialFemale")</label>
							#springShowErrors("" "error")
						</td>
					</tr>
					<tr>
						<td class="label">
							<label for="postcode">#springMessage("label.postcode")</label>
						</td>
						<td>
							#springFormInput("profile.postcode" "")
							#springShowErrors("" "error")
						</td>
					</tr>
					<tr>
						<td class="label">
							<label for="country">#springMessage("label.country")</label>
						</td>
						<td>
							#springFormSingleSelect("profile.country" $countries "id='country'")
							#springShowErrors("" "error")
						</td>
					</tr>
					<tr>
						<td class="label">
							<label for="language">#springMessage("label.language")</label>
						</td>
						<td>
							#springFormSingleSelect("profile.language" $languages "id='language'")
							#springShowErrors("" "error")
						</td>
					</tr>
					<tr>
						<td class="label">
							<label for="timezone">#springMessage("label.timezone")</label>
						<td>
							#springFormSingleSelect("profile.timezone" $timezones "id='timezone'")
							#springShowErrors("" "error")
						</td>
					</tr>
					<tr>
						<td class="label">&nbsp;</td>
						<td>
							<input type="submit" class="button" value="#springMessage('saveChanges')" />
						</td>
					</tr>
				</table>
			</form>
		</fieldset>
		#parse("footer.vm")
	</div>
</body>
</html>
