#set($springXhtmlCompliant = true)
<html>
	<head>
		<title>#springMessage("openid") - #springMessage("register")</title>
	</head>
	<body>
		#springBind("command.user.username")
		#set($openidUrl="${command.user.domain.identifierPrefix}$!{status.value}${command.user.domain.identifierSuffix}")
		OpenID：
		<span class="identifier">
		<a href="${openidUrl}">
			${openidUrl}
		</a>
		</span>
		#springMessage("message.register.success")
		<a href="#josUrl("/login?username=${link.encodeURL($!{status.value})}")">#springMessage("button.login")</a>
	</body>
</html>
