#*
 * Copyright (c) 2006-2009, Redv.com
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions
 * are met:
 *     * Redistributions of source code must retain the above copyright
 *       notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * Neither the name of the Redv.com nor the
 *       names of its contributors may be used to endorse or promote products
 *       derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 * "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 * LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
 * FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE
 * COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
 * INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
 * BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
 * LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN
 * ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 * POSSIBILITY OF SUCH DAMAGE.
 *#
#set($springXhtmlCompliant = true)
<html>
	<head>
		<title>#springMessage("openid") - #springMessage("register")</title>
		<script type="text/javascript">
			function chkFrm() {
				var objUsername = document.getElementById("user.username");
				if (objUsername.value === "") {
					alert("#springMessageText("user.error.username.format" "Username is required.")");
					objUsername.focus();
					return false;
				}
				var objPassword = document.getElementById("password");
				if (objPassword.value === "") {
					alert("#springMessageText("user.error.password.empty" "Password is required.")");
					objPassword.focus();
					return false;
				}
				var objConfirmingPassword = document.getElementById("confirmingPassword");
				if (objPassword.value !== objConfirmingPassword.value) {
					alert("#springMessageText("user.error.confirmingPassword.notEquals" "Confirming password is not equals to the password.")");
					objConfirmingPassword.focus();
					return false;
				}
			}
		</script>
	</head>
	<body>
		<fieldset>
			<legend>#springMessage("register")</legend>
			<form action="#josUrl("/register")" method="post" onsubmit="return chkFrm()">
				<table summary="Username">
					#springBind("command.user.username")
					<tr>
						<td class="label">
							<label for="username">#springMessage("label.openid")</label>
						</td>
						<td>
							<span class="identifier">
							${domain.identifierPrefix}
							#springFormInput("command.user.username" "")
							${domain.identifierSuffix}
							</span>
							#springShowErrors("" "error")
						</td>
					</tr>
				</table>
				<table summary="Password">
					#springBind("command.password")
					<tr>
						<td class="label">
							<label for="password">#springMessage("password.label.plaintext")</label>
						</td>
						<td>
							#springFormPasswordInput("command.password" "")
							#springShowErrors("" "error")
						</td>
					</tr>
					#springBind("command.confirmingPassword")
					<tr>
						<td class="label">
							<label for="confirmingPassword">#springMessage("password.label.confirmingPassword")</label>
						</td>
						<td>
							#springFormPasswordInput("command.confirmingPassword" "")
							#springShowErrors("" "error")
						</td>
					</tr>
				</table>
				<table summary="Submit">
					<tr>
						<td class="label">&nbsp;</td>
						<td>
							<button name="submit" type="submit">#springMessage("button.register")</button>
						</td>
					</tr>
				</table>
			</form>
			<script type="text/javascript">
				<!--
				var objUsername = document.getElementById("user.username");
				if (objUsername.value === "") {
					objUsername.focus();
				} else {
					document.getElementById("password").focus();
				}
				//-->
			</script>
		</fieldset>
	</body>
</html>
