<html>
	<head>
		<title>#springMessage("openid") - #springMessage("sites")</title>
	</head>
	<body>
	<div>
		#parse("header.vm")
		<fieldset>
			<legend>#springMessage("sites")</legend>
			<form method="post">
			<table class="list">
				<thead>
					<tr>
						<th>#springMessage("message.site.realmUrl")</th>
						<th>#springMessage("message.site.alwaysApprove")</th>
						<th>#springMessage("message.site.lastAttempt")</th>
						<th>#springMessage("message.site.approvals")</th>
					</tr>
				</thead>
				#foreach($site in $sites)
					<tr>
						<td>
							<input type="hidden" name="realmId" value="$!{esc.html($!{site.realm.id})}" />
							<a href="$!{esc.html($!{site.realm.url})}">$!{esc.html($!{site.realm.url})}</a>
						</td>
						<td>
							#if($site.alwaysApprove)
								<input type="checkbox" name="alwaysApprove_$!{esc.html($!{site.realm.id})}" checked="checked" />
							#else
								<input type="checkbox" name="alwaysApprove_$!{esc.html($!{site.realm.id})}" />
							#end
						</td>
						<td>
							$site.lastAttempt
						</td>
						<td>
							$site.approvals
						</td>
					</tr>
				#end
				<tfoot>
					<tr>
						<td colspan="5"><input type="submit" value="Save Changes" /></td>
					</tr>
				</tfoot>
			</table>
			</form>
		</fieldset>
		#parse("footer.vm")
	</div>
</body>
</html>
