<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		  "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="mailSender"
		class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.host">smtp.gmail.com</prop>
				<prop key="mail.smtp.socketFactory.class">
					javax.net.ssl.SSLSocketFactory
				</prop>
				<prop key="mail.smtp.socketFactory.fallback">
					false
				</prop>
				<prop key="mail.smtp.port">465</prop>
				<prop key="mail.smtp.socketFactory.port">465</prop>
				<prop key="mail.smtp.auth">true</prop>
			</props>
		</property>
		<property name="username">
			<!--
				Your username of your gmail,
				such as daniel, daniel@gmail.com, noreply@redv.com.
				
				If you're using the gmail account daniel@gmail.com,
				the username can be the following two form:
				daniel
				daniel@gmail.com
				
				If your account is hosting on the Google Apps(http://www.google.com/a/),
				the username should be only this form:
				noreply@redv.com
			-->
			<value>YOUR_USERNAME</value>
		</property>
		<property name="password">
			<value>YOUR_PASSWORD</value>
		</property>
	</bean>
</beans>
