<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN">
	<head>
		<title>$title</title>
		<meta http-equiv="Content-Type"
			content="application/xhtml-xml; charset=UTF-8" />
		<meta name="robots" content="all" />
		<meta name="keywords" content="openid" />
		<meta name="description" content="OpenID Provider" />
		<link rel="icon" href="$base/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="$base/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" media="screen"
			href="$base/openid.css" />
		<link rel="stylesheet" type="text/css" media="screen"
			href="$base/${domain.id}.css" />
		$head
	</head>
	<body>
		$body
	</body>
</html>