<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN">
	<head>
		<title>#springMessage("openid") - #springMessage("credentials")</title>
		<meta http-equiv="Content-Type"	content="application/xhtml-xml; charset=UTF-8" />
		<meta name="robots" content="all" />
		<meta name="keywords" content="openid" />
		<meta name="description" content="OpenID Provider" />
		#parse("css.vm")
		#parse("scripts.vm")
	</head>
	<body>
	<div>
		#parse("header.vm")
		<fieldset>
			<legend>#springMessage("credentials")</legend>
			<span class="warning">#springMessage("warning.credential")</span>
			<table class="list">
				<tr>
					<th>#springMessage("message.credential.credentialTypeName")</th>
					<th>#springMessage("message.credential.credentialSummary")</th>
					<th>#springMessage("message.credential.credentialTypeDescription")</th>
					<td>
						#springMessage("edit")
						|
						#springMessage("delete")
					</td>
				</tr>
				#foreach($credential in $credentials)
					<tr>
						<td>
							##$credential.handler.name
							#springMessage("credential.handler.name.${credential.handler.id}")
						</td>
						<td>
							$credential.description
						</td>
						<td>
							##$credential.handler.description
							#springMessage("credential.handler.description.${credential.handler.id}")
						</td>
						<td>
							<a href="edit.credential?id=$!{credential.id}">#springMessage("edit")</a>
							|
							<a href="delete.credential?id=$!{credential.id}">#springMessage("delete")</a>
						</td>
					</tr>
				#end
			</table>
		</fieldset>
		<a href="edit.credential">#springMessage("message.credential.createCredential")</a>
		#parse("footer.vm")
	</div>
</body>
</html>
