<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN">
	<head>
		<title>OpenID Credentials</title>
		<meta http-equiv="Content-Type"	content="application/xhtml-xml; charset=UTF-8" />
		<meta name="robots" content="all" />
		<meta name="keywords" content="openid" />
		<meta name="description" content="OpenID Provider" />
		#parse("css.vm")
		#parse("scripts.vm")
	</head>
	<body>
	<div>
		#parse("header.vm")
		<fieldset>
			<legend>我的凭据</legend>
			<span class="warning">为了安全，请尽量少地提供凭据允许登录 OpenID，因为下列任一凭据都能用于登录。</span>
			<table class="list">
				<tr>
					<th>凭据类型名称</th>
					<th>凭据摘要</th>
					<th>凭据类型描述</th>
					<td>
						编辑
						|
						删除
					</td>
				</tr>
				#foreach($credential in $credentials)
					<tr>
						<td>
							$credential.handler.name
						</td>
						<td>
							$credential.description
						</td>
						<td>
							$credential.handler.description
						</td>
						<td>
							<a href="edit.credential?id=$!{credential.id}">编辑</a>
							|
							<a href="delete.credential?id=$!{credential.id}">删除</a>
						</td>
					</tr>
				#end
			</table>
		</fieldset>
		<a href="edit.credential">新增一个凭据</a>
		#parse("footer.vm")
	</div>
</body>
</html>
