<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN">
	<head>
		<title>#springMessage("openid")</title>
		<meta http-equiv="Content-Type"	content="application/xhtml-xml; charset=UTF-8" />
		<meta name="robots" content="all" />
		<meta name="keywords" content="openid" />
		<meta name="description" content="OpenID Provider" />
		#parse("css.vm")
		#parse("scripts.vm")
	</head>
	<body>
	<div>
		#parse("header.vm")
		<fieldset>
			<legend>#springMessage("message.credential.deletingCredential")</legend>
			<form action="delete.credential" method="post">
				#springMessage("confirm.credential.delete")
				#springBind("credential.id")
				<input type="hidden" name="${status.expression}" value="${status.value}" />
				<table>
					<tr>
						<td class="label">
							#springMessage("label.credential.type")
						</td>
						<td>
							##${credential.handler.name}
							#springMessage("credential.handler.name.${credential.handler.id}")
							<span class="error">${status.errorMessage}</span>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td><input type="submit" value="#springMessage("confirmedDelete")" class="button" /></td>
					</tr>
				</table>		
			</form>
		</fieldset>
		#parse("footer.vm")
	</div>
</body>
</html>
