<h3>Using Your Own OpenID URL</h3>
<p>
	#springMessage("message.yourOpenid")
</p>
<pre>
$!{userSession.openIdUrl}
</pre>
<p>
#springMessage("message.yourOpenid.1")
<pre>
&lt;link rel="openid.server" href="${openIdConfiguration.openIdServer}"&gt;
&lt;link rel="openid.delegate" href="$!{userSession.openIdUrl}"&gt;
</pre>
#springMessage("message.yourOpenid.2")
</p>
