<html>
	<head>
		<title>#springMessage("openid")</title>
	</head>
	<body>
	<div>
		#parse("header.vm")
		<fieldset>
			<legend>#springMessage("message.credential.createCredential")</legend>
			<form action="edit.credential" method="post">
				<table>
					<tr>
						<td class="label">
							#springMessage("label.credential.type")
						</td>
						<td>
							<dl>
								#foreach($credentialHandler in $credentialHandlers)
								<dt>
									<input type="radio" id="${credentialHandler.id}" name="credentialHandlerId" value="${credentialHandler.id}" />
									<label for="${credentialHandler.id}">
										##$!{credentialHandler.name}
										#springMessage("credential.handler.name.${credentialHandler.id}")
									</label>
								</dt>
								<dd>
									##$!{credentialHandler.description}
									#springMessage("credential.handler.description.${credentialHandler.id}")
								</dd>
								#end
							</dl>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td><input type="submit" value="#springMessage("continue")" class="button" /></td>
					</tr>
				</table>
			</form>
		</fieldset>
		#parse("footer.vm")
	</div>
</body>
</html>
