<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN">
	<head>
		<title>OpenID Edit Password</title>
		<meta http-equiv="Content-Type"	content="application/xhtml-xml; charset=UTF-8" />
		<meta name="robots" content="all" />
		<meta name="keywords" content="openid" />
		<meta name="description" content="OpenID Provider" />
		#parse("css.vm")
		#parse("scripts.vm")
	</head>
	<body>
	<div>
		#parse("header.vm")
		<form action="password.credential" method="post">
			#springBind("editPasswordForm.credentialId")
			<input type="hidden" name="${status.expression}" value="$!{status.value}" />
			<table>
				#springBind("editPasswordForm.password")
				<tr>
					<td class="label">
						<label for="password">密码: </label>
					</td>
					<td>
						<input type="password" id="password" name="${status.expression}" />
						<span class="error">${status.errorMessage}</span>
					</td>
				</tr>
				#springBind("editPasswordForm.retypedPassword")
				<tr>
					<td class="label">
						<label for="retypedPassword">密码确认： </label>
					</td>
					<td>
						<input type="password" id="retypedPassword" name="${status.expression}" />
						<span class="error">${status.errorMessage}</span>
					</td>
				</tr>
				<tr>
					<td class="label">
						&nbsp;
					</td>
					<td>
						<input type="submit" name="edit" value="增加/修改" class="button" />
					</td>
				</tr>
			</table>
		</form>
		#parse("footer.vm")
	</div>
</body>
</html>
