<html>
	<head>
		<title>#springMessage("openid")</title>
	</head>
	<body>
	<div>
		#parse("header.vm")
		<form action="password.credential" method="post">
			#springBind("editPasswordForm.credentialId")
			<input type="hidden" name="${status.expression}" value="$!{status.value}" />
			<table>
				#springBind("editPasswordForm.password")
				<tr>
					<td class="label">
						<label for="password">#springMessage("label.password") </label>
					</td>
					<td>
						<input type="password" id="password" name="${status.expression}" />
						<span class="error">${status.errorMessage}</span>
					</td>
				</tr>
				#springBind("editPasswordForm.retypedPassword")
				<tr>
					<td class="label">
						<label for="retypedPassword">#springMessage("label.confirmingPassword")</label>
					</td>
					<td>
						<input type="password" id="retypedPassword" name="${status.expression}" />
						<span class="error">${status.errorMessage}</span>
					</td>
				</tr>
				<tr>
					<td class="label">
						&nbsp;
					</td>
					<td>
						<input type="submit" name="edit" value="#springMessage("create")/#springMessage("modify")" class="button" />
					</td>
				</tr>
			</table>
		</form>
		#parse("footer.vm")
	</div>
</body>
</html>
