<html>
	<head>
		<title>#springMessage("openid") - #springMessage("profile")</title>
	</head>
	<body>
	<div>
		#parse("header.vm")
		<fieldset>
		<legend>#springMessage("profile")</legend>
			<form action="email" method="post">
				<table>
					<tr>
						<td class="label">
							<label for="address">#springMessage("label.nickname")</label>
						</td>
						<td>
							#springFormInput("email.address" "")
							#springShowErrors("" "error")
						</td>
					</tr>
					<tr>
						<td class="label">&nbsp;</td>
						<td>
							<input type="submit" class="button" value="#springMessage('saveChanges')" />
						</td>
					</tr>
				</table>
			</form>
		</fieldset>
		#parse("footer.vm")
	</div>
</body>
</html>
