<div id="header">
	<div id="logo"><img src="openid-logo.png" alt="OpenID" /></div>
	<div id="navbar">
		<ul>
			#if(!${userSession.loggedIn})
			<li><a href="./" title="#springMessage("home.tip")">#springMessage("home")</a></li>
			<li><a href="login" title="#springMessage("login")">#springMessage("login")</a></li>
			<li><a href="register" title="#springMessage("register.tip")">#springMessage("register")</a></li>
			#else
			<li><a href="home" title="#springMessage("home.tip")">#springMessage("home")</a></li>
			<li><a href="email" title="#springMessage("email.tip")">#springMessage("email")</a></li>
			<li><a href="profile" title="#springMessage("profile.tip")">#springMessage("profile")</a></li>
			<li><a href="credentials" title="#springMessage("credentials.tip")">#springMessage("credentials")</a></li>
			##<li><a href="sites" title="#springMessage("sites.tip")">#springMessage("sites")</a></li>
			<li><a href="logout" title="#springMessage("logout.tip")">#springMessage("logout")</a></li>
			#end
			<li><a href="http://openid.net.cn" title="#springMessage("about.tip")">#springMessage("about")</a></li>
		</ul>
	</div>
	<div id="hl">
		<ul>
			<li><a href="?hl=en_US">en_US</a></li>
			<li><a href="?hl=zh_CN">zh_CN</a></li>
			<li class="last-child"><a href="hl">»</a></li>
		</ul>
	</div>
</div>
<div id="welcome">
	 #springMessage("welcome") $!{userSession.username}
</div>
<div id="description">
	#springMessage("description")
</div>
