<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN">
	<head>
		<title>OpenID</title>
		<meta http-equiv="Content-Type"
			content="application/xhtml-xml; charset=UTF-8" />
		<meta name="robots" content="all" />
		<meta name="keywords" content="openid" />
		<meta name="description" content="OpenID Provider" />
		#parse("css.vm")
		#parse("scripts.vm")
	</head>
	<body>
		<div>
			#parse("header.vm")
			<form action="home" method="post">
				<div>
					<label for="username">OpenID: </label>
					http://
					<input type="text" id="username" name="username" class="sexy" size="10" />
					.openid.org.cn
					<input type="submit" name="login" value="登录" class="button" />
					<input type="submit" name="register" value="注册" class="button" />
				</div>
			</form>
			#parse("footer.vm")
		</div>
	</body>
</html>
