<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN">
	<head>
		<title>#springMessage("openid")</title>
		<meta http-equiv="Content-Type"
			content="application/xhtml-xml; charset=UTF-8" />
		<meta name="robots" content="all" />
		<meta name="keywords" content="openid" />
		<meta name="description" content="OpenID Provider" />
		#parse("css.vm")
		#parse("scripts.vm")
	</head>
	<body>
		<div>
			#parse("header.vm")
			#if(!${userSession.loggedIn})
			<form action="home" method="post">
				<div>
					<label for="username">OpenID: </label>
					${openidConfiguration.openidUrlPrefix}
					<input type="text" id="username" name="username" class="sexy" size="10" accesskey="U" />
					${openidConfiguration.openidUrlSuffix}
					<input type="submit" name="login" value="#springMessage("login")" class="button" accesskey="L" />
					<input type="submit" name="index.login" value="#springMessage("login.other")" class="button" accesskey="A" />
					<input type="submit" name="register" value="#springMessage("register")" class="button" accesskey="R" />
				</div>
			</form>
			<script type="text/javascript">
				<!--
				document.getElementById("username").focus();
				//-->
			</script>
			#else
				#parse("detail.vm")
			#end
			#parse("footer.vm")
		</div>
	</body>
</html>
