<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN">
	<head>
		<title>#springMessage("openid")</title>
		<meta http-equiv="Content-Type"
			content="application/xhtml-xml; charset=UTF-8" />
		<meta name="robots" content="all" />
		<meta name="keywords" content="openid" />
		<meta name="description" content="OpenID Provider" />
		#parse("css.vm")
		#parse("scripts.vm")
	</head>
	<body>
		<div>
			#parse("header.vm")
			#set ($self = "$!request.getParameter('self')")
			#if ("$!self" == "current")
				<a href="?self=each">#springMessage("message.humanLanguageSelection.each")</a>
				#springMessage("message.humanLanguageSelection.current")
			#else
				#springMessage("message.humanLanguageSelection.each")
				<a href="?self=current">#springMessage("message.humanLanguageSelection.current")</a>
			#end
			
			<ul class="hl">
				#foreach ($l in $locales)
					<li>
						<a href="?hl=${l}">
							#if("$!self" == "current")
								${l.getDisplayName(${locale})}
							#else
								${l.getDisplayName(${l})}
							#end
						</a>
					</li>
				#end
			</ul>
			#parse("footer.vm")
		</div>
	</body>
</html>
