<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN">
	<head>
		<title>OpenID Login</title>
		<meta http-equiv="Content-Type"	content="application/xhtml-xml; charset=UTF-8" />
		<meta name="robots" content="all" />
		<meta name="keywords" content="openid" />
		<meta name="description" content="OpenID Provider" />
		<link rel="stylesheet" type="text/css" media="screen"
			href="openid.css" />
	</head>
	<body>
	<div>
		#parse("header.vm")
		<form action="login" method="post">
			<table>
				<tr>
					<td>
						<label for="openidUrl">Your OpenID URL:</label>
					</td>
					<td>
						<input type="text" id="openidUrl" name="openidUrl" class="sexy" size="30" value="$!{esc.html($!{command.openidUrl})}" />
					</td>
				</tr>
				<tr>
					<td>
						<label for="password">Password:</lable>
					</td>
					<td>
						<input type="password" id="password" name="password" size="30" />
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center"><input type="submit" value="Login" style="background: rgb(255, 98, 0) none repeat scroll 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; color: rgb(255, 255, 255);"/></td>
				</tr>
			</table>
		</form>
		#parse("footer.vm")
	</div>
</body>
</html>
