<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN">
	<head>
		<title>OpenID Login</title>
		<meta http-equiv="Content-Type"	content="application/xhtml-xml; charset=UTF-8" />
		<meta name="robots" content="all" />
		<meta name="keywords" content="openid" />
		<meta name="description" content="OpenID Provider" />
		#parse("css.vm")
		#parse("scripts.vm")
	</head>
	<body>
	<div>
		#parse("header.vm")
		<form action="login" method="post">
			<table>
				#springBind("command.username")
				<tr>
					<td width="90" align="right">
						<label for="username">OpenID：</label>
					</td>
					<td>
						http://<input type="text" id="username" name="$!{status.expression}" class="sexy" size="10" value="$!{esc.html($!{status.value})}" />.openid.org.cn
						<span class="error">$!{status.errorMessage}</span>
					</td>
				</tr>
				#springBind("command.password")
				<tr>
					<td align="right">
						<label for="password">密码：</lable>
					</td>
					<td>
						<input type="password" class="common" id="password" name="password" size="33" />
						<span class="error">$!{status.errorMessage}</span>
					</td>
				</tr>
			</table>
			<table width="200" border="0">
              <tr>
                <td width="90">&nbsp;</td>
                <td><input type="submit" value="登录" class="button" /></td>
              </tr>
            </table>
			
		</form>
		#parse("footer.vm")
	</div>
</body>
</html>
