<html>
	<head>
		<title>#springMessage("openid") - #springMessage("login")</title>
	</head>
	<body>
	<div>
		#parse("header.vm")
		<fieldset>
			<legend>#springMessage("login")</legend>
			<form action="login" method="post">
				<table>
					#springBind("command.username")
					<tr>
						<td class="label">
							<label for="username">OpenID：</label>
						</td>
						<td>
							${openIdConfiguration.openIdUrlPrefix}
							<input type="text" id="username" name="$!{status.expression}" class="sexy" size="10" value="$!{esc.html($!{status.value})}" />
							${openIdConfiguration.openIdUrlSuffix}
							<span class="error">$!{status.errorMessage}</span>
						</td>
					</tr>
					#springBind("command.password")
					<tr>
						<td class="label">
							<label for="password">#springMessage("label.password")</label>
						</td>
						<td>
							<input type="password" class="common" id="password" name="password" size="33" />
							<span class="error">$!{status.errorMessage}</span>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>
							<input type="submit" value="#springMessage('login')" class="button" />
							<a href="index.login" title="#springMessage('login.other')">#springMessage("login.other")</a>
						</td>
					</tr>
				</table>
			</form>
			<script type="text/javascript">
				<!--
				var objUsername = document.getElementById("username");
				if (objUsername.value == "") {
					objUsername.focus();
				} else {
					document.getElementById("password").focus();
				}
				//-->
			</script>
		</fieldset>
		#parse("footer.vm")
	</div>
</body>
</html>
