<html>
	<head>
		<title>#springMessage("openid") - #springMessage("profile")</title>
	</head>
	<body>
	<div>
		#parse("header.vm")
		#springMessage("message.profile.modifySuccess")
		<a href="profile">#springMessage("message.profile.backToProfile")</a>
		#parse("footer.vm")
	</div>
</body>
</html>
