<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN">
	<head>
		<title>OpenID Profile</title>
		<meta http-equiv="Content-Type"	content="application/xhtml-xml; charset=UTF-8" />
		<meta name="robots" content="all" />
		<meta name="keywords" content="openid" />
		<meta name="description" content="OpenID Provider" />
		#parse("css.vm")
		#parse("scripts.vm")
	</head>
	<body>
	<div>
		#parse("header.vm")
		<form action="profile" method="post">
			<table>
				<tr>
					<td class="label">
						<label for="nickname">Nickname</label>
					</td>
					<td>
						#springFormInput("profile.nickname" "")
						#springShowErrors("" "error")
					</td>
				</tr>
				<tr>
					<td class="label">
						<label for="email">Email address:</lable>
					</td>
					<td>
						#springFormInput("profile.email" "")
						#springShowErrors("" "error")
					</td>
				</tr>
				<tr>
					<td class="label">
						<label for="fullname">Full name:</label>
					</td>
					<td>
						#springFormInput("profile.fullname" "")
						#springShowErrors("" "error")
					</td>
				</tr>
				<tr>
					<td class="label">
						<label for="dob">Birth date:</label>
					</td>
					<td>
						#springFormInput("profile.dob" "")
						#springShowErrors("" "error")
					</td>
				</tr>
				#springBindEscaped("profile.gender" false)
				<tr>
					<td class="label">
						<label for="gender">Gender:</label>
					</td>
					<td>
						<input type="radio" id="gender_U" name="$!{status.expression}" value="U" #if($status.value == "U")checked="checked"#end /><label for="gender_U">Unknown</label>
						<input type="radio" id="gender_M" name="$!{status.expression}" value="M" #if($status.value == "M")checked="checked"#end /><label for="gender_M">Male</label>
						<input type="radio" id="gender_F" name="$!{status.expression}" value="F" #if($status.value == "F")checked="checked"#end /><label for="gender_F">Female</label>
						#springShowErrors("" "error")
					</td>
				</tr>
				<tr>
					<td class="label">
						<label for="postcode">Postcode:</label>
					</td>
					<td>
						#springFormInput("profile.postcode" "")
						#springShowErrors("" "error")
					</td>
				</tr>
				<tr>
					<td class="label">
						<label for="country">Country/Region:</label>
					</td>
					<td>
						#springFormSingleSelect("profile.country" $countries "id='country'")
						#springShowErrors("" "error")
					</td>
				</tr>
				<tr>
					<td class="label">
						<label for="language">Preferred language:</label>
					</td>
					<td>
						#springFormSingleSelect("profile.language" $languages "id='language'")
						#springShowErrors("" "error")
					</td>
				</tr>
				<tr>
					<td class="label">
						<label for="timezone">Time zone:</label>
					<td>
						#springFormSingleSelect("profile.timezone" $timezones "id='timezone'")
						#springShowErrors("" "error")
					</td>
				</tr>
				<tr>
					<td class="label">&nbsp;</td>
					<td>
						<input type="submit" class="button" value="Save Changes" />
					</td>
				</tr>
			</table>
		</form>
		#parse("footer.vm")
	</div>
</body>
</html>
