<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN">
	<head>
		<title>OpenID Login</title>
		<meta http-equiv="Content-Type"	content="application/xhtml-xml; charset=UTF-8" />
		<meta name="robots" content="all" />
		<meta name="keywords" content="openid" />
		<meta name="description" content="OpenID Provider" />
		#parse("css.vm")
		#parse("scripts.vm")
		<script type="text/javascript">
			function chkFrm() {
				var objMember = document.getElementById("member");
				if (objMember.value == "") {
					alert("OpenID URL error.");
					objMember.focus();
					return false;
				}
				var objPassword = document.getElementById("password");
				if (objPassword.value == "") {
					alert("Password can't empty.");
					objPassword.focus();
					return false;
				}
				var objRetypePassword = document.getElementById("retypePassword");
				if (objPassword.value != objRetypePassword.value) {
					alert("Retype password not correct.");
					objRetypePassword.focus();
					return false;
				}
			}
		</script>
	</head>
	<body>
	<div>
		#parse("header.vm")
		<form action="register" method="post" onsubmit="return chkFrm()">
			<table>
				#springBind("command.member")
				<tr>
					<td width="90" align="right">
						<label for="memeber">OpenID：</label>				  </td>
					<td>
						http://<input type="text" id="member" name="member" class="sexy" size="10" value="$!{esc.html($!{status.value})}" />.openid.org.cn
						<span class="error">$!{status.errorMessage}</span>
					</td>
				</tr>
			</table>
			<table>
				<tr>
					<td width="90" align="right">
						<label for="password">密码：</label>					</td>
					<td>
						<input type="password" id="password" name="password" />
					</td>
				</tr>
				<tr>
					<td align="right">
						<label for="retypePassword">密码确认：</label>
				  </td>
					<td>
						<input type="password" id="retypePassword" name="retypePpassword" />
					</td>
				</tr>
		  </table>
			<table width="200" border="0">
              <tr>
                <td width="90">&nbsp;</td>
                <td><input name="submit" type="submit" class="button" value="注册" /></td>
              </tr>
            </table>
	  </form>
		#parse("footer.vm")
	</div>
</body>
</html>
