<html>
	<head>
		<title>#springMessage("openid") - #springMessage("register")</title>
		<script type="text/javascript">
			function chkFrm() {
				var objMember = document.getElementById("username");
				if (objMember.value == "") {
					alert("OpenID URL is error.");
					objMember.focus();
					return false;
				}
				var objPassword = document.getElementById("password");
				if (objPassword.value == "") {
					alert("Password can't empty.");
					objPassword.focus();
					return false;
				}
				var objRetypePassword = document.getElementById("retypePassword");
				if (objPassword.value != objRetypePassword.value) {
					alert("Retype password is not correct.");
					objRetypePassword.focus();
					return false;
				}
			}
		</script>
	</head>
	<body>
	<div>
		#parse("header.vm")
		<fieldset>
			<legend>#springMessage("register")</legend>
			<form action="register" method="post" onsubmit="return chkFrm()">
				<table>
					#springBind("command.username")
					<tr>
						<td class="label">
							<label for="username">#springMessage("label.openid")</label>
						</td>
						<td>
							${openIdConfiguration.openIdUrlPrefix}
							<input type="text" id="username" name="username" class="sexy" size="10" value="$!{esc.html($!{status.value})}" />
							${openIdConfiguration.openIdUrlSuffix}
							<span class="error">$!{status.errorMessage}</span>
						</td>
					</tr>
				</table>
				<table>
					<tr>
						<td class="label">
							<label for="password">#springMessage("label.password")</label>
						</td>
						<td>
							<input type="password" id="password" name="password" />
						</td>
					</tr>
					<tr>
						<td class="label">
							<label for="confirmingPassword">#springMessage("label.confirmingPassword")</label>
					  </td>
						<td>
							<input type="password" id="confirmingPassword" name="confirmingPpassword" />
						</td>
					</tr>
					<tr>
						<td class="label">&nbsp;</td>
						<td><input name="submit" type="submit" class="button" value="#springMessage("register")" /></td>
					</tr>
				</table>
			</form>
			<script type="text/javascript">
				<!--
				var objUsername = document.getElementById("username");
				if (objUsername.value == "") {
					objUsername.focus();
				} else {
					document.getElementById("password").focus();
				}
				//-->
			</script>
		</fieldset>
		#parse("footer.vm")
	</div>
</body>
</html>
