<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN">
	<head>
		<title>OpenID Login</title>
		<meta http-equiv="Content-Type"	content="application/xhtml-xml; charset=UTF-8" />
		<meta name="robots" content="all" />
		<meta name="keywords" content="openid" />
		<meta name="description" content="OpenID Provider" />
		#parse("css.vm")
		#parse("scripts.vm")
	</head>
	<body>
	<div>
		#parse("header.vm")
		#springBind("command.username")
		OpenID：<a href="http://$!{status.value}.openid.org.cn">http://$!{status.value}.openid.org.cn</a> 注册成功。
		#set($url="http://$!{status.value}.openid.org.cn")
		<a href="login?openidUrl=${link.encodeURL($!{url})}">登录</a>
		#parse("footer.vm")
	</div>
</body>
</html>
