<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		  "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>WEB-INF/jdbc.properties</value>
				<value>WEB-INF/jos.xml</value>
			</list>
		</property>
	</bean>

	<bean id="josConfiguration"
		class="cn.net.openid.jos.domain.JosConfiguration">
		<property name="openidServerUrl"
			value="${jos.openid.server.url}" />
		<property name="usernamePattern"
			value="${jos.member.username.pattern}" />
		<property name="identifierPrefix"
			value="${jos.member.identifier.prefix}" />
		<property name="identifierSuffix"
			value="${jos.member.identifier.suffix}" />
		<property name="memberFilterFromPattern"
			value="${jos.member.filter.from.pattern}" />
	</bean>
	<bean id="serverManager"
		class="org.openid4java.server.ServerManager">
		<property name="OPEndpointUrl" value="${jos.openid.server.url}" />
	</bean>

	<bean id="baseTransactionProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
		abstract="true">
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionAttributes">
			<props>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="allow">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>
	<bean id="josService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="cn.net.openid.jos.service.JosServiceImpl">
				<property name="josConfiguration"
					ref="josConfiguration" />
				<property name="userDao" ref="userDao" />
				<property name="passwordDao" ref="passwordDao" />
				<property name="emailDao" ref="emailDao" />
				<property name="personaDao" ref="personaDao" />
				<property name="attributeDao" ref="attributeDao" />
				<property name="attributeValueDao"
					ref="attributeValueDao" />
				<property name="realmDao" ref="realmDao" />
				<property name="siteDao" ref="siteDao" />
			</bean>
		</property>
		<!-- Uncomment the following in order to enable mail sending aspect -->
		<!-- 
			<property name="postInterceptors">
			<list>
			<ref bean="emailAdvisor" />
			</list>
			</property>
		-->
	</bean>

	<bean id="userValidator"
		class="cn.net.openid.jos.web.validation.UserValidator">
		<property name="usernamePattern"
			value="${jos.member.username.pattern}" />
	</bean>
	<bean id="registerFormValidator"
		class="cn.net.openid.jos.web.validation.RegisterFormValidator">
		<property name="usernamePattern"
			value="${jos.member.username.pattern}" />
	</bean>
</beans>
