<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		  "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>WEB-INF/jdbc.properties</value>
				<value>WEB-INF/openid.xml</value>
			</list>
		</property>
	</bean>

	<bean id="openIdConfiguration"
		class="cn.net.openid.OpenIdConfiguration">
		<property name="openIdServer" value="${openid.server}" />
		<property name="memberUsernamePattern"
			value="${openid.member.usernamePattern}" />
		<property name="openIdUrlPrefix"
			value="${openid.member.openidUrlPrefix}" />
		<property name="openIdUrlSuffix"
			value="${openid.member.openidUrlSuffix}" />
		<property name="memberFilterFromPattern"
			value="${openid.member.filter.fromPattern}" />
	</bean>

	<bean id="serverManager"
		class="org.openid4java.server.ServerManager">
		<property name="OPEndpointUrl" value="${openid.server}" />
	</bean>

	<bean id="baseTransactionProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
		abstract="true">
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionAttributes">
			<props>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>
	<bean id="daoFacade" parent="baseTransactionProxy">
		<property name="target">
			<bean class="cn.net.openid.dao.DaoFacadeImpl">
				<property name="openIdConfiguration">
					<ref local="openIdConfiguration" />
				</property>
				<property name="userDao" ref="userDao" />
				<property name="passwordDao" ref="passwordDao" />
				<property name="emailDao" ref="emailDao" />
				<property name="credentialDao" ref="credentialDao" />
				<property name="credentialHandlerDao"
					ref="credentialHandlerDao" />
				<property name="attributeDao" ref="attributeDao" />
				<property name="attributeValueDao"
					ref="attributeValueDao" />
			</bean>
		</property>
		<!-- Uncomment the following in order to enable mail sending aspect -->
		<!-- 
			<property name="postInterceptors">
			<list>
			<ref bean="emailAdvisor" />
			</list>
			</property>
		-->
	</bean>

	<bean id="userValidator"
		class="cn.net.openid.validation.UserValidator">
		<property name="usernamePattern"
			value="${openid.member.usernamePattern}" />
	</bean>
	<bean id="registerFormValidator"
		class="cn.net.openid.validation.RegisterFormValidator">
		<property name="usernamePattern"
			value="${openid.member.usernamePattern}" />
	</bean>
</beans>
